# =====================================
# 🚫 .dockerignore para frontend (React)
# =====================================

# Control de versiones
.git
.gitignore

# Archivos del sistema y del IDE
.idea
.vscode
*.iml
*.log
*.tmp
*.bak
*.swp
*.DS_Store

# Dependencias y builds
node_modules
node_modules 2
build
dist
.cache
coverage

# Archivos de entorno
.env.development
.env.*
*.pem
*.crt
*.key

# Archivos innecesarios
*.md
*.pdf
*.zip
*.tar
*.rar

# Archivos propios de Docker
Dockerfile
docker-compose.yml
