# Control de versiones
.git
.gitignore

# IDE y cachés
.idea
.vscode
*.iml
*.class
*.log
*.tmp
*.swp
*.bak
*.DS_Store

# Builds y dependencias
node_modules
build
dist
out

# Otros
Dockerfile
docker-compose.yml
.env*
test/
__pycache__/