# ===============================
#  JAVA / SPRING BOOT
# ===============================

target/
*.jar
*.war
*.class
*.log

# Configuracion de desarrollo (NUNCA commitear)
application-dev.properties
application-local.properties

# ===============================
#  MAVEN / GRADLE
# ===============================

.mvn/
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# ===============================
#  NODE / REACT / VITE
# ===============================

node_modules/
dist/
build/
*.env
.env.*
.vscode/

# ===============================
#  MACOS
# ===============================

.DS_Store

# ===============================
#  IDEs
# ===============================

.idea/
.project
.settings/
*.iml

# ===============================
#  PYTHON (si usas scripts)
# ===============================

__pycache__/

# ===============================
#  DOCKER
# ===============================

docker-data/

backend/bin/
*.class*.hprof
*.hprof
*.hprof.*
