# Control de versiones
.git
.gitignore

# IDE y cachés
.idea
.vscode
*.iml
*.class
*.log
*.tmp
*.swp
*.bak
*.DS_Store

# Builds
.gradle
build
out
target

# Otros
node_modules
__pycache__
test/
*.md
.env*
Dockerfile
docker-compose.yml
